@media (max-width: 480px) {
    .containerAboutPageFour{
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        align-items: flex-end;
    
        .sectionOneAboutPageFour{
            z-index: 3;
            min-width: 35vw;
            min-height: 100vh;
            .sectionContentOneAboutPageFour{
                min-height: 60vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .one{
                    position: absolute;
                    min-width: 20vw;
                    border: 1px solid  #707070;
                    margin-bottom: 40vh;
                    margin-left: -15vw;
                }
                .two{
                    display: none;
                    position: absolute;
                    min-width: 5vw;
                    border: 1px solid  #707070;
                    margin-bottom: -20vh;
                    margin-left: -30vw;
                }
                h2{
                    z-index: 5;
                    position: absolute;
                    font-family: PpeikoLight;
                    font-size: 15vw;
                    font-weight: 400;
                    color: #E0BE8D;
                    margin-left: 15vw;
                    margin-bottom: -60vh;
                    margin-top: 0;
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);
                }
                h1{
                    z-index: 4;
                    position: absolute;
                    font-family: PpeikoMedium;
                    font-size: 50vw;
                    font-weight: 400;
                    margin-left: 18vw;
                    margin-bottom: -15vh;
                    margin-left: 50vw;
                }
                .sello1{
                    position: absolute;
                    min-width: 80vw;
                    min-height: 1.5rem;                
                    background: rgb(224,190,141);
                    background: linear-gradient(90deg, rgba(224,190,141,1) 0%, rgba(199,151,75,1) 100%);               
                    margin-bottom: -108vh;
                    margin-left: 85vw;
                    z-index: 20;
                }
                .sello2{
                    position: absolute;
                    min-width: 20vw;
                    min-height: 1.5rem; 
                    margin-left: 35vw;
                    margin-bottom: 30vh;
                    background: rgb(224,190,141);
                    background: linear-gradient(90deg, rgba(224,190,141,1) 0%, rgba(199,151,75,1) 100%);               
                }
            }
        }
        .sectionTwoAboutPageFour{
            z-index: 2;
            min-width: 65vw;
            min-height: 100vh;
            background-image: url('../../img/about/pageone/fondo.png');
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            text{
                min-width: 14vw;
                max-width: 14vw;
                text-align: right;
                color: #E0BE8D;
                margin-bottom: 20vh;
                margin-right: 20vw;
                font-size: 5vw;
                line-height: 3.16vh;
                letter-spacing: 0.65vw;
                font-family: DrukBold;
                text-transform: uppercase;
            }
        }
        .sectionThreeAboutPageFour{
            position: absolute;
            z-index: 3;
            min-width: 100vw;
            min-height: 40vh;
        }
    }

}