.containerLifeStylePageThree{
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: flex-end;

    .sectionOneLifeStylePageThree{
        z-index: 3;
        min-width: 50vw;
        min-height: 100vh;
        .sectionContentOneLifeStylePageThree{
            min-height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .one{
                display:none;    
            }
            .two{
                position: absolute;
                min-width: 26.5vw;
                max-width: 26.5vw;
                margin-bottom: -40vh;
                margin-left: 0vw;
                
                text-align: left;
                line-height: 2.3vh;
                font-size: 0.9vw;
                font-family: ApexBook;
                color: #707070;
            }
            h2{
                z-index: 5;
                position: absolute;
                font-family: PpeikoLight;
                font-size: 3vw;
                font-weight: 400;
                color: #E0BE8D;
                margin-left: -4vw;
                margin-bottom: 0vh;
                margin-top: 0;
         
            }
            h1{
               
                z-index: 4;
                position: absolute;
                font-family: PpeikoMedium;
                font-size: 40rem;
                font-weight: 400;
                margin-left: 20vw;
                margin-bottom: 20vh;
                display: none;
            }
            .sello1{
                position: absolute;
                min-width: 15vw;
                min-height: 1.5rem;                
                background: rgb(224,190,141);
                background: linear-gradient(90deg, rgba(224,190,141,1) 0%, rgba(199,151,75,1) 100%);              
                margin-bottom: -120vh;
                margin-left: 125vw;
                z-index: 20;
            }
            .sello2{
                position: absolute;
                min-width: 8vw;
                min-height: 1.5rem; 
                margin-left: 35vw;
                margin-bottom: -0vh;
                background: rgb(224,190,141);
                background: linear-gradient(90deg, rgba(224,190,141,1) 0%, rgba(199,151,75,1) 100%);
              
            }
        }
    }
    .sectionTwoALifeStylePageThree{
        z-index: 2;
        min-width: 45vw;
        min-height: 100vh;
        background-image: url('../../img/lifestyle/pagethree/fondo.png');
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        text{
            display: none;
            margin-bottom: 3vh;
            margin-left: 3vw;
            color: #E0BE8D;
            font-size: 2.5rem;
            font-family: PpeikoLight;
        }
    }
    .sectionThreeLifeStylePageThree{
        position: absolute;
        z-index: 3;
        min-width: 100vw;
        min-height: 40vh;
    }
}