.containerHomePageFive{
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    .sectionOneHomePageFive{
        min-height: 100vh;
        min-width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        hr{
            margin-bottom: 5vh;
            min-width: 6vw;
            max-width: 6vw;
            margin-left: 0;
            border:1px solid  #707070;
        }
        .text{
            position: absolute;
            margin-top: 10vh;
            margin-right: 30vw;
            min-width: 18vw;
            max-width: 18vw;
            min-height: 10vh;
            color: #E0BE8D;            
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: 1rem;
            font-family: DrukBold;
            text-transform: uppercase;

            display: flex;
            flex-direction: column;
        }
        .sectionFondoOneHomePageFive{
            min-width: 45vw;
            min-height: 100vh;
            background-image: url('../../img/home/pagefive/fondo.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }
    }
    .sectionTwoHomePageFive{
        margin-left: -8vw;
        min-height: 100vh;
        min-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h2{
            min-width: 60%;
            text-align: right;
            margin: 0;
            margin-left: 9vw;
            margin-bottom: 10vh;
            color: #E0BE8D;
            font-size: 8rem;
            line-height: 1rem;
            font-weight: 400;
            font-family: PpeikoLight;
        }
        h1{
            color: #000;
            margin-bottom: 20vh;
            min-width: 90%;
            text-align: right;
            line-height: 1rem;
            font-size: 18rem;
            font-family: PpeikoMedium;
            font-weight: 400;
        }
        text{
            margin-left: 10vw;
            min-width: 15vw;
            max-width: 15vw;
            font-size: 1.8rem;            
            display: flex;
            flex-direction: column;
            div{
                float: left;
            }
            text{
                display: flex;
                max-width: 80%;
                min-width: 11.5vw;
                max-width: 11.5vw;
                line-height: 3rem;
                float: left;
                flex-wrap: nowrap;
                z-index: 6;
                font-family: PublicoHeadlineLightItalic;
                font-weight: 400;
            }
            img{
                position: absolute;
                max-width: 3rem;
                max-height: 3rem;
                float: left;
            }
            .comillaDerecha{
                margin-left: -2vw;
            }
            .comillaIzquierda{
                margin-left: 10vw;
                margin-top: -3vh;
            }
            .comillasDer{
                margin: 0;
                padding: 0;
                max-width: 1.5rem;
                max-height: 1.5rem;
            }
            label{
                min-width: 10vw;
                color: #E0BE8D;
                margin-left: 12vw;
                text-align: right;
                font-size: 1.2rem;
                margin-top: 4vh;
            }
            .sello{
                z-index: 3;
                position: absolute;
                background: rgb(224,190,141);
                background: linear-gradient(90deg, rgba(224,190,141,1) 0%, rgba(199,151,75,1) 100%);
                min-height: 18px;
                max-height: 18px;
                min-width: 28vw;
                margin-top: 4.5vh;                
                margin-left: -10vw;
            }
        }
    }

}