.containerContactPageOne{
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: flex-end;

    .sectionOneContactPageOne{
        z-index: 3;
        min-width: 50vw;
        min-height: 100vh;
        .sectionContentContactPageOne{
            min-height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .one{
                position: absolute;
                min-width: 10vw;
                border: 1px solid  #707070;
                margin-bottom: 40vh;
                margin-left: 50vw;
            }
            .two{
                position: absolute;
                min-width: 5vw;
                border: 1px solid  #707070;
                margin-bottom: -20vh;
                margin-left: -45vw;
            }
            h2{
                min-width: 65vw;
                z-index: 5;
                position: absolute;
                font-family: PpeikoMedium;
                font-size: 12.5vw;
                font-weight: 400;
                color: #000;
                margin-top: 40vh;
                margin-left: 50vw;
            }
            h1{
                display: none;
                z-index: 4;
                position: absolute;
                font-family: PpeikoMedium;
                font-size: 25rem;
                font-weight: 400;
                margin-left: 35vw;
            }
            .sello1{
                position: absolute;
                min-width: 40vw;
                min-height: 18px;
                max-height: 18px;
                background: rgb(224,190,141);
                background: linear-gradient(90deg, rgba(199,151,75,1) 0%, rgba(224,190,141,1) 100%);
              
                margin-top: 110vh;
                margin-left: 50vw;
                z-index: 20;
            }
            .sello2{
                position: absolute;
                min-width: 8vw;
                min-height: 18px;
                max-height: 18px;
                background: rgb(224,190,141);
                background: linear-gradient(90deg, rgba(224,190,141,1) 0%, rgba(199,151,75,1) 100%);
              
                margin-top: 0vh;
                margin-left: 140vw;
                z-index: 20;
            }
        }
    }
    .sectionTwoContactPageOne{
        z-index: 2;
        min-width: 45vw;
        min-height: 100vh;
        background-image: url('../../img/contact/pageone.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sectionThreeContactPageOne{
        position: absolute;
        z-index: 3;
        min-width: 100vw;
        min-height: 40vh;
    }
}